@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"Montserrat-Black";
	src: url('../fonts/Montserrat-Black.otf');
}

@font-face {
	font-family:"Montserrat-Bold";
	src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
	font-family:"COUTURE-Bold";
	src: url('../fonts/COUTURE-Bold.ttf');
}

@font-face {
	font-family:"ProximaNova-Extrabold";
	src: url('../fonts/ProximaNova-Extrabold.otf');
}

@font-face {
	font-family:"ProximaNova-Black";
	src: url('../fonts/ProximaNova-Black.otf');
}

@font-face {
	font-family:"FuturaLight";
	src: url('../fonts/Futura-Std-Light.ttf');
}

body {
	font-family: FuturaLight;
}

a {
	text-decoration: none !important;
}

#menu {
	z-index: 200;
	position: fixed;
	width: 30%;
	height: 100%;
	text-transform: uppercase;
	font-family: ProximaNova-Black;
	letter-spacing: 2px;
	line-height: 40px;
	font-size: 20px;
	float: right;
	right: 20px;
	text-align: right;
}

#menu ul li {
	list-style: none;
}

#menu ul li a {
	color: rgba(0, 0, 0, 0.5);
	transition: 0.7s;
}

#menu ul li a:hover {
	color: rgba(0, 0, 0, 1);
	transition: 0.7s;
}

#logoindexfinal_hype_container {
	opacity: 0.8;
}

/* MOUSE ANIMATION */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	margin: 0 auto;
	width: 24px;
	height: 100px;
	position: absolute;
}

.mouse
{
height: 45px;
width: 30px;
  border-radius: 14px;
  transform: none;
  border: 3px solid rgba(0, 0, 0, 0.8);;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 3px solid #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;


}

.wheel
{
  -webkit-animation: mouse-wheel 1s linear infinite;
  -moz-animation: mouse-wheel 1s linear infinite;
}



@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

/* END MOUSE ANIMATION */

.index {
	z-index: 100;
}

.indexmax {
	z-index: 999;
}

/* General link styles */
.link {
	position: relative;
	color: #9e9ba4;
	display: inline-block;
}

/* Kukuri */
.link--kukuri {
	text-transform: uppercase;
	overflow: hidden;
	color: #c5c2b8;
}

.link--kukuri:hover {
	color: #c5c2b8;
}

.video {
	margin-bottom: -5px;
	z-index: -100;
}

video {
	margin-top: -55%;
	width: 100%;
	z-index: -100;
	opacity: 0.7;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	top: 50%;
	margin-top: -4px;
	right: 0;
	background: #F9F9F9;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}

.navbar-inverse{
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

#monbloc {
	width: 95%;
	height: 90%;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.title {
	text-align: center;
	padding-top: 20px;
	color: rgba(0, 0, 0, 0.85);
}

.title h1 {
	font-family: ProximaNova-Extrabold;
	font-size: 100px;
	letter-spacing: 6px;
}

.title p {
	font-family: FuturaLight;
	font-size: 18px;
	letter-spacing: 3px;
	margin: 20px 0 ;
}

.description {
	font-family: FuturaLight;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 35px;
}

#info1,
#info2,
#info3 {
	font-family: ProximaNova-Extrabold;
	font-size: 40px;
	position: absolute;
	width: 50%;
	text-align: center;
}

#info1,
#info3 {
	width: 40%;
}

#info2 {
	background-image: url('../img/test3.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 85px;
}

.article {
	padding-top: 50px;
}

.article h1 {
	font-family: ProximaNova-Extrabold;
}

.article p {
	font-family: FuturaLight;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.7);
}

.article a {
	font-family: ProximaNova-Extrabold;
	color: rgba(0,0,0,0.4);
	font-size: 18px;
	float: right;
	text-decoration: none;
	transition: 0.7s;
}

.article a:hover {
	color: rgba(0, 0, 0, 0.7);
	transition: 0.7s;
}

.article a img {
	width: 15px;
	margin-left: 10px;
}

.center {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 60px 0 100px 0;
}

.center button {
	font-size: 20px;
	letter-spacing: 2px;
	width: 120px;
	color: rgba(0,0,0,0.5);
	transition: 1s;
	border: solid 0.5px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0);
	border-radius: 0;
}

.center button:hover {
	color: rgba(0,0,0,0.5);
	transition: 1s;
	border: solid 0.5px rgba(0,0,0,0);
	background-color: rgba(0,0,0,0.2);
}

button a {
	color: rgba(0, 0, 0, 0.8);
}

.padding {
	padding-top: 175px;
}

.title-article {
	text-transform: uppercase;
	font-family: ProximaNova-Extrabold;
	color: rgba(0,0,0,0.9);
	transition: 1s;
}

.title-article h1 {
	padding-top: 20px;
	font-size: 140px;
	padding-left: 50px;
	position: absolute;
}

.title-about h1 {
	font-size: 140px;
	text-transform: uppercase;
	font-family: ProximaNova-Extrabold;
	color: rgba(0,0,0,0.9);
}

.top {
	top: 100px;
}

#top {
	padding-top: 200px;
}

.bg-grey {
	background-color: #D6D6D6;
	z-index: 102;
	position: relative;
}

.bg-grey .title-article h1 {
	position: absolute;
	padding-top: 20px;
	color: rgba(0,0,0,0.9);
}

.space {
	height: 30px;
}

.interview .article p {
	width: 80%;
}

.interview h1 {
	font-size: 50px;
}

p.rotate {
	font-size: 50px;
	font-family: ProximaNova-Extrabold;
	position: absolute;
    bottom: 0;
    padding-bottom: 158px;
    margin-left: -40px;
    text-transform: uppercase;
}

.rotate {
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

p.maj {
	font-family: ProximaNova-Extrabold;
	text-transform: uppercase;
	font-size: 200px;
	color: #000;
	position: absolute;
	margin-top: 125px;
    margin-left: -60px;
}

p.maj2 {
	font-family: ProximaNova-Extrabold;
	text-transform: uppercase;
	font-size: 200px;
	color: #000;
	position: absolute;
	margin-top: 155px;
    margin-left: 360px;
}

.bg-white {
	background-color: #FFF;
	position: relative;
	z-index: 103;
}

.contact p {
	font-family: ProximaNova-Extrabold;
	font-size: 40px;
	line-height: 50px;
	padding-top: 200px;
	color: rgba(0,0,0,0.9);
}

#teampic img {
	width: 100%;
	padding: 100px 0 50px 0;
}

.contact h1 {
	text-transform: uppercase;
	font-family: ProximaNova-Extrabold;
	color: rgba(0,0,0,0.9);
	font-size: 60px;
	padding-top: 30px;
}

.cbp-mc-form input, .cbp-mc-form textarea {
    font-family: FuturaLight;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 25px 25px;
    color: #rgba(0,0,0,0.8);
    width: 100%;
    background: rgba(0,0,0,0.10);
}

.cbp-mc-form input, .cbp-mc-form textarea {
    border: 0px;
    margin: 10px 0 20px 0;
}

form {
	margin-left: -10px;
}

textarea {
	height: 500px;
}

.send button {
	text-align: center;
	width: 200px;
	height: 70px;
	padding-top: 0;
}

footer {
	background-color: rgba(0,0,0,0.92);
	margin: 0 !important;
	z-index: 300;
}

footer h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 25px;
	font-family: ProximaNova-Extrabold;
}

footer p {
	color: rgba(255,255,255,0.7);
	font-family: FuturaLight;
	font-size: 17px;
	letter-spacing: 2px;
	line-height: 28px;
}

footer .cbp-mc-form2 input {
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 10px;
    color: rgba(255,255,255,0.8);
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: 0px;
    margin: 10px 0 20px 0;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea,
footer .cbp-mc-form2 input:focus,
footer .cbp-mc-form2 input:active + input{
    outline: none;
    border: 0px;
}

.footer {
	padding-top: 150px;
}

.footer #paddtop {
	padding-top: 100px;
	padding-bottom: 150px;
}

.fixed {
	z-index: 101;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.3;
	transition: 1s;
}

/**************/
/*  ARTICLES  */
/**************/

.navbar {
	background-color: #FFF;
	transition: 0.7s;
	border-bottom: : solid 2px #E0E0E0;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: FuturaLight;
	position: relative;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a {
	transition: 0.7s;
	color: rgba(0, 0, 0, 0.6);
}

a#menulogo {
	padding: 10px 40px;
	opacity: 1;
	transition: 0.7s;
}

a#menulogo:hover {
	padding: 10px 40px;
	opacity: 0.5;
	transition: 0.7s;
	border-bottom: solid 0;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 25px;
	    padding-bottom: 25px;
	}

}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	transition: 0.7s;
	color: #000;
}

ul#social {
	float: right;
	padding-top: 13px;
}

#sb-search {
margin-left: 300px;
float: right;
padding-top: 0px;
}

@media (max-width: 1200px) {
	#sb-search {
		margin-left: 100px;
	}
}

ul#social li a {
	padding: 10px 20px;
	opacity: 0.4;
}

body.modal-open { padding-right: 0px !important; } html { overflow-y: auto !important; }

ul#social li a:hover {
	padding: 10px 20px;
	opacity: 1;
}

/* NAVBAR RESPONSIVE */

.button_container {
  position: fixed;
  top: 2%;
  right: 4%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #000;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
}
.overlay:before {
  content: '';
  background: #000;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left .35s ease;
  transition: left .35s ease;
}
.overlay:after {
  content: '';
  background: #000;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
          animation-delay: .65s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
	text-transform: uppercase;
	font-family: ProximaNova-Extrabold;
	letter-spacing: 2px;
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@media (max-width: 420px) {
	.choice {
		display: none;
	}

.overlay ul li a {
	font-size: 35px;
}


	.text h1 {
		font-size: 30px;
		top: 10%;
	}
}

/* FIN NAVBAR RESPONSIVE */

#body-article {
	background-color: #EFEFEF;
}

#body-article .title p {
	font-size: 17px;
	color: rgba(0, 0, 0, 0.5);
	padding-bottom: 25px;
}

#body-article .title h1 {
	font-size: 50px;
	text-transform: uppercase;
	width: 45%;
	padding-bottom: 10px;
	margin: 0 auto;
	letter-spacing: 2px;
	border-bottom-width: medium;
	border-bottom: solid 1px rgba(0,0,0,0.15);
}

#body-article .description p {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	width: 80%;
	line-height: 25px;
	margin: 0 auto;
	padding-top: 20px;
}

.page-header {
	font-family: ProximaNova-Extrabold;
	font-size: 25px;
}

#body-article .paddtop {
	padding-top: 150px;
}

.imgright img {
	float: right;
	margin-right: 20%;
}

#adjust1 {
	padding-top: 70px;
}

#adjust2 {
	padding-top: 40px;
}

img#abs-article {
	position: absolute;
	margin: 560px 0px 0px 310px;
}

img#abs-article2 {
	position: absolute;
	margin: -205px 0px 0px -50px;
}

.textalignright {
	text-align: right;
}

.clients {
	border: solid 1px;
}

.manifeste {
	text-align: center;
	padding-bottom: 150px;
}

.manifeste img {
	margin: 20px 10px;
	transition: 0.7s;
	opacity: 0.5;
}

.manifeste img:hover {
	transition: 0.7s;
	opacity: 1;
}

.manifeste h1 {
	font-size: 100px;
	font-family: ProximaNova-Extrabold;
	color: rgba(0, 0, 0, 0.9);
	padding-top: 50px;
	padding-bottom: 50px;
}

.textright h2 {
	font-family: ProximaNova-Extrabold;
	font-size: 30px;
}

.textright p {
	padding-top: 10px;
	font-family: FuturaLight;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.6);
}

.textright small {
	color: rgba(0, 0, 0, 0.7);
	font-family: ProximaNova-Extrabold;
	font-size: 20px;
	letter-spacing: 0px;
}

.thx p {
	margin: 100px 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	font-family: ProximaNova-Extrabold;
	font-size: 20px;
	letter-spacing: 0px;
}

@media (max-width: 769px) {
	.navbar {
		background-color: rgba(0, 0, 0, 0.8);
	}
}


/**************/
/*  RUBRIQUE  */
/**************/

.choice ul li {
	margin: 15px 0;
	list-style: none;
	float: left;
	width: 25%;
	text-align: center;
}

.choice ul li a {
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	font-family: ProximaNova-Extrabold;
	transition: 0.4s;
	font-size: 23px;
	text-align: center;
}

.choice ul li a:hover {
	color: rgba(0, 0, 0, 0.8);
	transition: 0.4s;
	border-bottom: solid 5px rgba(0, 0, 0, 0.8);
}

.subtitle {
	padding-top: 75px;
	padding-bottom: 75px;
}

.subtitle p {
	color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 25px;
}

.rubtest img {
	width: 100%;
	transition: 0.7s;
}

.rubtest h1 {
	font-family: ProximaNova-Extrabold;
	color: rgba(0, 0, 0, 0.75);
	margin-top: 5px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 15px;
}

.rubtest p {
	color: rgba(0, 0, 0, 0.7);
	letter-spacing: 1px;
	margin: 0;
	margin-top: -5px;
	font-size: 13px;
}

.rubtest a {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    background-color: transparent;
}

.box-caption {
    color: white;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    text-align: center;
    width: 85%;
    height: 85%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

.box-caption .box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.project-category {
    font-family: ProximaNova-Extrabold;
    font-size: 20px;
}

.project-name {
    font-family: FuturaLight;
    padding: 0 15px;
    font-size: 13px;
}
.rubtest:hover .rubtest img {
	filter: brightness(30%);
	 -webkit-filter: brightness(30%);
	 -moz-filter: brightness(30%);
	 -o-filter: brightness(30%);
	 -ms-filter: brightness(30%);
	transition: 0.7s;
 }
.rubtest:hover .box-caption {
    opacity: 1;
}

.text {
	height: 200px;
}

.text h1 {
	font-size: 35px;
	position: absolute;
	top: 20%;
	letter-spacing: 0px;
	text-transform: none;
}

.blank {
	background-image: url(../img/blank.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.7s
}

.blank:hover {
	-webkit-transform: rotate(-50deg); /* Safari */
transform: rotate(-50deg); /* Standard syntax */
transition: 0.7s;
}

.smallcol img {
	width: 95%;
}

.marginalign {
	margin-top: -190px;
}

.col-md-3 img {
		width: 100%;
}

.jq h1 {
	padding-top: 35px;
	font-family: ProximaNova-Extrabold;
	font-size: 30px;
}

.jq h2 {
	font-size: 20px;
	font-family: ProximaNova-Extrabold;
	margin-top: 0px;
}

.jq p {
	font-size: 17px;
	letter-spacing: 1px;
}

#test,
#test2 {
	position: absolute;
}

@media (min-width: 768px) {
	.text {
		height: 200px;
	}

	.blank {
		height: 160px;
	}

	img.hiden {
		display: block;
	}

	.gallery {
		display: none;
	}
}

@media (max-width: 1200px) {
	.smallcol img {
		width: 100%;
	}

	.blank {
		height: 220px;
	}

	p.rotate {
		font-size: 35px;
		padding-bottom: 185px;
	}

	p.maj {
		font-size: 150px;
		margin-left: -50px;
	}

	p.maj2 {
		font-size: 150px;
		margin-left: 275px;
	}

	.fixresize {
		padding-left: 60px;
	}
}

@media (max-width: 994px) {

	ul#social {
		display: none;
	}

	.sb-search{
		display: none;
	}

	.imgright {
		text-align: center;
	}

	.blank {
		height: 160px;
	}

	.text h1 {
		font-size: 25px;
		top: 15%;
	}

	#adjust1,
	#adjust2 {
		padding-top: 0;
	}

	.paddtop {
		padding-top: 50px !important;
	}

	.footer {
		padding-top: 50px;
	}

	.hidd {
		display: none;
	}

	.imgright img {
		float: none;
		margin: 0;
		display: none;
	}

	img#abs-article {
		margin: 0;
	}

	.gallery {
		display: block;
		padding: 50px 0;
	}

	p.rotate {
		font-size: 25px;
		padding-bottom: 290px;
		margin-left: -30px;
	}

	p.maj {
		font-size: 100px;
		margin-left: -40px;
	}

	p.maj2 {
		font-size: 100px;
		margin-left: 215px;
	}

	.fixresize {
		padding-left: 60px;
	}
}

@media (max-width: 768px) {
	.text {
		height: 189px;
	}

	.navbar {
		display: none;
	}

	.blank {
		display: none;
	}

	.title {
		padding-top: 65px;
	}

	.footer h1 {
		font-size: 18px;
	}

	footer p {
    font-size: 13px;
    line-height: 20px;
}

	.title h1 {
		width: 80% !important;
		text-align: center;
	}

	img.hiden {
		display: none;
	}

	.text h1 {
		font-size: 40px;
		top: 7%;
	}

	.index {
		text-align: center;
	}

	.index img {
		width: 60%;
	}

	.index p {
		text-align: left;
	}

	p.rotate {
		font-size: 50px;
		padding-bottom: 150px;
		margin-left: -45px;
	}

	p.maj {
		font-size: 200px;
		margin-left: -80px;
	}

	p.maj2 {
		font-size: 200px;
		margin-left: 385px;
	}

	.fixresize {
		padding-left: 120px;
	}

	.top {
		top: 0px;
	}

	.choice ul li {
		width: 50%;
	}

}

@media (min-width: 768px) {
	.button_container {
		display: none;
	}
}
